extends layout

block main
  .spacer-login
  .container
    .form-signin
      form(action="/login", method="post", id="loginform")
        label #{err}
        input#login-username(name="login-username",type="text", class="form-control input-lg", placeholder="#{language.USER}", value="", required, autofocus)
        input#login-password(name="login-password",type="password", class="form-control input-lg", placeholder="#{language.PASSWORD}", value="", required)
        input#login-btnlogin(class="btn btn-lg btn-default btn-block", type="submit", value="#{language.LOGIN}")