.modal.fade(data-backdrop='static')
   .modal-dialog
      .modal-content
         .modal-header
            .button(type='button',class='close',data-dismiss='modal',aria-label='Close')
               .span(aria-hidden='true') &times;
            h4(class='modal-title') Titel
         .modal-body.clear-font Body
         .modal-footer
            .button(type='button',id='modal-btn-close',class='btn btn-default',data-dismiss='modal')