.scroll-area.sidebar
  .accordion.nav.nav-sidebar(id='accordion')
    .panel     
        // orders
        .accordion-heading.accordion-toggle.collapsed(id='heading-orders', data-toggle='collapse', data-parent='#accordion', href='#collapse-orders', aria-expanded='false')
          .accordion-icon
          | &nbsp; #{language.ORDERS}
        #collapse-orders.accordion-body.collapse
          .accordion-inner
            .list-group
              a(id='view-simstats', href='/orders/view', class='list-group-item clear-font')
                span.glyphicon.glyphicon-list-alt
                | &nbsp; #{language.ORDERS}