extends main

block content
  .content
    include simstat_view
  script(type='text/javascript').
    PORTAL.simstat.table.initialize.view();
    PORTAL.simstat.table.load();
    $ ('#collapse-simstat').collapse ('show');

