/**
 *  Custom Service Portal stylesheets
 */

/*** basics *************************************/
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

body,html {
    height: 100%;
}

body {
    font-family: "Oswald", Arial, sans-serif, Helvetica ;
    font-size: 14px;
    font-weight: normal;
    padding-top: 50px;
}
.clear-font {
    font-family: Arial, sans-serif, Helvetica ;
    font-size: 12px;
}

a {
    color: #333;
}

a:hover,
a:focus {
    color: #333;
    text-decoration: none;
}

.brand {
    color: #333;
    float: left;
    height: 50px;
    padding: 15px 5px;
    font-size: 18px;
    line-height: 20px;
}
.nowrap-overflow-hidden {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wanly {
    opacity: 0.3;
}
tr.selected {
    background-color: #ddd !important;
}

/************************************************/

/*** wizard *************************************/
.bs-wizard {
    margin-top: 40px;
}

.bs-wizard {
    padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #ddd;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #9d9d9d;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #ddd;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width:100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width:50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width:0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child  > .progress {
    left: 50%; width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child  > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{
    pointer-events: none;
}
/************************************************/

/**** RMA ***************************************/
.add-sn {
  cursor: pointer;
  display: inline-block;
  padding: 8px;
}

@media (min-width: 992px) {
    .col-md-1 {
        width: 3%;
    }
    .col-md-2 {
        width: 17%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-7 {
        width: 58%;
    }
}
.col-xs-1 {
    width: 3%;
}
.col-xs-2 {
    width: 17%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-7 {
    width: 58%;
}

option.disabled {
    color: #BBB;
    background-color: #FAFAFA;
}

thead {
    border-bottom: 1px solid #444;
    font-weight: bold;
}

th{
    font-weight: normal;
}

.rma-ext {
    white-space: nowrap;
}

.rma-ext > .glyphicon {
    padding-left: 10px;
}

.glyphicon-picture {
    font-size: 17px;
}

.glyphicon-pdf {
    background-image: url(../img/icon-pdf.png);
    background-size: 18px;
    background-repeat: no-repeat;
    margin-right: -8px;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-top: 24px;
    margin-right: 2px;
}

.glyphicon-tags-heading {
    padding-left: 15px;
}

.glyphicon-ok-circle, .glyphicon-ok-sign{
    color: #690;
}
.glyphicon-remove-circle, .glyphicon-remove-sign{
    color: #940;
}

.led {
    margin-left: 10px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.8;
    margin-right: 10px;
}

.led-green, .led-ok{
    background-color: #690;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-gray {
    background-color: #999;
    box-shadow: #000 0 -1px 7px 1px, inset #666 0 -1px 9px, #CCC 0 2px 12px;
}

.led-yellow, .led-warning {
    background-color: #fff018;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-red, .led-critical {
    background-color: #940;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

td.copy-rma-numbers {
    padding: 0px 0px 0px 7px !important;
}

td.rma-table-headline {
    padding: 0px 8px 8px 8px !important;
}

.col-xs-1 {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
}


@media (min-width: 992px) {
    .col-xs-2 {
        width: 14.2857142857%;
    }
}

img#chrome {
    padding: 0px 10px 0px 5px;
}

.pagination>li>a {
    color: #333;
}

.pagination>.active>a {
    color: #333;
    background-color: #f4f4f4;
    border-color: #ccc;
}

.pagination>.active>a:hover,
.pagination>.active>a:focus {
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad;
}
/************************************************/

/**** group items *******************************/
.list-group-item {
    margin-bottom: 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #FBFBFB;
}

.list-group {
    margin-bottom: 0px;
}
/************************************************/

/**** Login *************************************/
@media (min-width: 1200px) {
    .container {
        width: 600px;
    }
}
@media (min-width: 992px) {
    .containern {
        width: 600px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 400px;
    }
}

.container {
    height: 60vh;
    min-height: 60vh;
}

.spacer-login {
    height: 20vh;
    min-height: 20vh;
}

#login-username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#login-password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login-btnlogin{
    font-size:30px;
}

.btn-group {
    padding-top: 10px;
}
/************************************************/

/*** content ************************************/
.content {
    padding: 0 10px 10px 10px;
}
h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.content.table>tbody>tr>td {
    padding: 2px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
}
table#sn-table {
    table-layout: fixed;
    overflow: hidden;
    word-wrap: break-word;
}
table#rma-table, table#rma-details, table#contract-table, table#contract-calibration {
    table-layout: fixed;
    overflow: hidden;
}
table#rma-table>tbody>tr, table#contract-table>tbody>tr {
    cursor: pointer;
}
td.dataTables_empty {
    cursor: auto;
}
/************************************************/

/*** date picker ********************************/
.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .open>.dropdown-toggle.datepicker table tr td.active:hover, .open>.dropdown-toggle.datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .open>.dropdown-toggle.datepicker table tr td.active:focus, .open>.dropdown-toggle.datepicker table tr td.active.highlighted:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus, .open>.dropdown-toggle.datepicker table tr td.active.focus, .open>.dropdown-toggle.datepicker table tr td.active.highlighted.focus, .datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .open>.dropdown-toggle.datepicker table tr td.active, .open>.dropdown-toggle.datepicker table tr td.active.highlighted {
    color: #fff;
    background-color: #999999;
    border-color: #666666;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover {
    background-color: #CCCCCC;
    border-color: #999999;
}

.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .open>.dropdown-toggle.datepicker table tr td span.active, .open>.dropdown-toggle.datepicker table tr td span.active:hover, .open>.dropdown-toggle.datepicker table tr td span.active.disabled, .open>.dropdown-toggle.datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:active:hover,.datepicker table tr td span.active:hover:active:hover,.datepicker table tr td span.active.disabled:active:hover,.datepicker table tr td span.active.disabled:hover:active:hover,.datepicker table tr td span.active.active:hover,.datepicker table tr td span.active:hover.active:hover,.datepicker table tr td span.active.disabled.active:hover,.datepicker table tr td span.active.disabled:hover.active:hover,.open>.dropdown-toggle.datepicker table tr td span.active:hover,.open>.dropdown-toggle.datepicker table tr td span.active:hover:hover,.open>.dropdown-toggle.datepicker table tr td span.active.disabled:hover,.open>.dropdown-toggle.datepicker table tr td span.active.disabled:hover:hover,.datepicker table tr td span.active:active:focus,.datepicker table tr td span.active:hover:active:focus,.datepicker table tr td span.active.disabled:active:focus,.datepicker table tr td span.active.disabled:hover:active:focus,.datepicker table tr td span.active.active:focus,.datepicker table tr td span.active:hover.active:focus,.datepicker table tr td span.active.disabled.active:focus,.datepicker table tr td span.active.disabled:hover.active:focus,.open>.dropdown-toggle.datepicker table tr td span.active:focus,.open>.dropdown-toggle.datepicker table tr td span.active:hover:focus,.open>.dropdown-toggle.datepicker table tr td span.active.disabled:focus,.open>.dropdown-toggle.datepicker table tr td span.active.disabled:hover:focus,.datepicker table tr td span.active:active.focus,.datepicker table tr td span.active:hover:active.focus,.datepicker table tr td span.active.disabled:active.focus,.datepicker table tr td span.active.disabled:hover:active.focus,.datepicker table tr td span.active.active.focus,.datepicker table tr td span.active:hover.active.focus,.datepicker table tr td span.active.disabled.active.focus,.datepicker table tr td span.active.disabled:hover.active.focus,.open>.dropdown-toggle.datepicker table tr td span.active.focus,.open>.dropdown-toggle.datepicker table tr td span.active:hover.focus,.open>.dropdown-toggle.datepicker table tr td span.active.disabled.focus,.open>.dropdown-toggle.datepicker table tr td span.active.disabled:hover.focus {
    color: #fff;
    background-color: #999999;
    border-color: #666666;
}
/************************************************/

/*** progress bar *******************************/
.progress-bar {
    background-color: #aaa;
}
/************************************************/

/*** tooltip ************************************/
div.tooltip-inner {
    max-width: 350px;
    overflow: hidden;
    word-wrap: break-word;
}
/************************************************/

/*** modal **************************************/
.modal-header {
    border-bottom: 0px;
}

.bootstrap-dialog.type-primary .modal-header {
    background-color: #337ab7;
}
/************************************************/

/*** style of scroll areas **********************/
.scroll-area {
    overflow-y: auto;
    overflow-x: hidden;
    border: 0px;
}
@media (min-width: 992px) {
    .scroll-area.sn-list {
        max-height: 50vh;
    }
}

@media (min-width: 992px) {
    .scroll-area.spacer {
        height: 1vh;
        min-height: 1vh;
        border: 4px;
    }
}

@media (min-width: 992px) {
    .scroll-area.scroll-area-table {
        height: 50vh;
        min-height: 50vh;
    }
}

@media (min-width: 992px) {
    .scroll-area.scroll-area-details {
        height: 30vh;
        min-height: 30vh;
    }
}

@media (min-width: 992px) {
    .scroll-area.err {
        height: 80vh;
        min-height: 80vh;
    }
}

@media (min-width: 992px) {
    .scroll-area.sidebar {
        height: 80vh;
        min-height: 80vh;
    }
}
.spacer-mobile {
    height: 20px;
}
@media (min-width: 992px) {
    .rma-hr {
        border-bottom: 1px solid #d1d1d1;
    }
}

@media (min-width: 992px) {
    .spacer-mobile {
        height: 0px;
    }
}

.scroll-area.add-sn {
    height: 60vh;
    min-height: 60vh;
}

.spacer {
    height: 3vh;
    min-height: 3vh;
    border: 0px;
}

.col-md-6 {
    height: 80vh;
    min-height: 80vh;
}

.text-left {
    margin-top: 6px;
}



/*** navigation *********************************/
.panel {
    margin-bottom: 0px;
    border: 0px;
}

.accordion {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.accordion-heading {
    padding-right: 20px;
    padding-left: 30px;
}

.accordion-heading {
    border-bottom: 1px solid #ccc;
    background-color: #f4f4f4;
}
.accordion-heading:hover {
    background-color: #eee;
}

.accordion-heading {
    padding: 10px 25px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
}

.accordion-heading .accordion-icon:after
{
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    float: left;
    top: 8px;
    left: 9px;
    color: #ccc;
    font-size: 12px;
    line-height: 22px;
    margin-right: 10px;
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
}

.accordion-heading.collapsed .accordion-icon:after
{
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
    transform:         rotate(0deg);
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: #ffffff;
    background-image: -moz-linear-gradient(top,#ffffff 0,#f5f5f5 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#f5f5f5));
    background-image: -ms-linear-gradient(top,#ffffff 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#f5f5f5 100%);
    border-bottom: 1px solid #cbcbcb;
}

.navbar.navbar-inverse.navbar-fixed-top a {
    color: #333;
}

.navbar.navbar-inverse.navbar-fixed-top a:hover,
.navbar.navbar-inverse.navbar-fixed-top a:focus{
    color: #333;
    text-decoration: underline;
}

.navbar-toggle {
    background-color: #e0c900;
}
/************************************************/

/*** form ***************************************/
/*** remove blue outline when clicked of form ***/
button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover {
    outline:none !important;
}
/***** form has error **************************/
.has-error .form-control {
    border: 2px solid #a94442;
}
/************************************************/

/*** tooltip ************************************/
.tooltip.top .tooltip-arrow {
    border-top-color: #ccc;
}

.tooltip.right .tooltip-arrow{
    border-right-color:#ccc;
}

.tooltip.left .tooltip-arrow{
    border-left-color:#ccc;
}

.tooltip.bottom .tooltip-arrow{
    border-bottom-color:#ccc;
}

.tooltip-inner {
    font-family: "Oswald", Arial ,sans-serif, Helvetica;
    color: #333;
    text-align: left;
    max-width: 350px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}
/************************************************/

.alert-info {
    color: #666666;
    background-color: #EEEEEE;
    border-color: #ABABAB;
}

/*** footer *************************************/
footer > p.text-muted {
    padding: 5px 10px 0 0;
    margin: 0px;
    text-align: right;
    font-size: 14px;
}
/************************************************/

/*** datatables search form *********************/
.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
/************************************************/

/*** download buttons ***************************/
div.dt-buttons {
    float: right;
}
/************************************************/


#sn-table {
    width: 100% !important;
}